/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  background-image: url(/FE-S1-L4-Esercizio/assets/img/sfondo.png);
  background-size: contain;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  margin-left: 7%;
  margin-right: 7%;
}

main,
header,
footer {
  padding: 5%;
}

h1 {
  color: #000000;
  font-weight: 600;
  font-size: 2.5em;
  margin: 30px 0;
  line-height: 60px;
}
h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.8em;
}
h4 {
  color: gray;
  opacity: 0.8;
  font-size: 1.4em;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  line-height: 25px;
}

ol,
ul {
  margin-bottom: 30px;
  margin-top: 30px;
}

li {
  padding: 3px;
  line-height: 25px;
}

/* HEADER */
header {
  margin: 5% 0;
  /* background-color: rgb(35, 136, 170); */
  background-color: #1a6688;
  opacity: 0.9;
  background-image: linear-gradient(
    -45deg,
    #1a6688,
    #1a6688 50%,
    rgba(35, 136, 170, 1) 50%,
    rgba(35, 136, 170, 1)
  );
  background-size: 4px 4px;

  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: 0px 7px 15px 4px #000000;
  box-shadow: 0px 7px 15px 4px #000000;
}
.header-block {
  margin: 20px 0;
}

/* Menu */
nav ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: white;
}
nav li {
  padding: 5px;
}

/* MAIN */

main {
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 7px 15px 4px #000000;
  box-shadow: 0px 7px 15px 4px #000000;
}
/* -------ELEMENTI NEL MAIN - ARTICLE-------*/
.colored-string {
  color: rgb(170, 32, 114);
  font-weight: 600;
}
.code-text {
  border: 1px solid black;
  border-radius: 7px;
  background-color: rgba(180, 180, 180, 0.333);
}
.link {
  color: rgba(45, 170, 205);
  font-weight: 500;
}
#video {
  width: 100%;
  border-radius: 10%;
}

.list {
  margin-left: 5%;
}
.grey-box {
  background-color: rgba(191, 190, 190, 0.463);
  margin: 30px 0;
  padding: 30px 0;
  border: 1px solid rgba(83, 83, 83, 0.684);
}
.grey-box p {
  text-align: center;
  margin: 15px;
}
form {
  text-align: center;
}
#email {
  height: 30px;
  border: none;
  border-bottom: 1px dotted black;
}
.button {
  height: 30px;
  background-color: rgba(51, 102, 204);
  color: white;
  font-size: 1.2em;
  border: none;
}

.data-articolo {
  text-align: end;
  font-size: 0.9em;
  margin-right: 30px;
}
.nome-articolo,
.categoria-articolo {
  margin-left: 30px;
}
/* TABELLE */
table {
  width: 100%;
  margin: 30px auto;
  border-bottom: 3px solid rgba(51, 102, 204);
}
caption {
  font-weight: 600;
  font-size: 1.2em;
  font-style: italic;
}
th {
  background-color: rgba(51, 102, 204);
  color: white;
}
th,
td {
  padding: 10px;
  text-align: center;
}
.grey-tr{
    background-color: rgba(185, 185, 185, 0.463);
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  text-align: center;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: small;
  -webkit-box-shadow: 0px 7px 15px 4px #000000;
  box-shadow: 0px 7px 15px 4px #000000;

  background: #0658ce;
  background: -moz-linear-gradient(top, #0658ce 0%, #02211c 100%);
  background: -webkit-linear-gradient(top, #0658ce 0%, #02211c 100%);
  background: linear-gradient(to bottom, #0658ce 0%, #02211c 100%);
}

footer > div {
  font-size: 1.3em;
}
footer a {
  color: purple;
}
