/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  background-image: url(/FE-S1-L4-Esercizio/assets/img/sfondo.png);
  background-size: contain;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  margin-left: 7%;
  margin-right: 7%;
}

main,
header,
footer {
  padding: 5%;
}

h1 {
  color: #000000;
  font-weight: 600;
  font-size: 2.5em;
  margin: 30px 0;
}
h4 {
  color: gray;
  opacity: 0.8;
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

ol,
ul {
  margin-bottom: 30px;
  margin-top: 30px;
}

li {
  padding: 6px;
}

/* HEADER */
header {
  margin: 5% 0;
  /* background-color: rgb(35, 136, 170); */
  background-color: #1a6688;
  opacity: 0.9;
  background-image: linear-gradient(
    -45deg,
    #1a6688,
    #1a6688 50%,
    rgba(35, 136, 170, 1) 50%,
    rgba(35, 136, 170, 1)
  );
  background-size: 4px 4px;

  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: 0px 7px 15px 4px #000000;
  box-shadow: 0px 7px 15px 4px #000000;
}
.header-block {
  margin: 20px 0;
}

/* Menu */
nav ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: white;
}
nav li {
  padding: 5px;
}

/* MAIN */

main {
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 7px 15px 4px #000000;
  box-shadow: 0px 7px 15px 4px #000000;
}
/* -------ELEMENTI NEL MAIN - ARTICLE-------*/
.colored-string {
  color: rgb(170, 32, 114);
  font-weight: 600;
}
.code-text {
  border: 1px solid black;
  border-radius: 7px;
  background-color: rgba(180, 180, 180, 0.333);
}
#video {
  width: 100%;
  border-radius: 10%;
}

.list {
  margin-left: 5%;
}
/* TABELLE */
th,
td {
  padding: 10px;
  border: 1px solid;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
  -webkit-box-shadow: 0px 7px 15px 4px #000000;
  box-shadow: 0px 7px 15px 4px #000000;
}
